.wrapper {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
  }
  input {
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 12px;
    max-width: 400px;
    border-radius: 4px;
    font-size: 16px;
  }
}
.errorText {
  font-size: 16px;
  color: #c70039;
  padding-top: 4px;
}
.error {
  input {
    color: #c70039;
    border: 1px solid #c70039;
  }
  input::placeholder {
    color: #c70039;
  }
  label {
    color: #c70039;
  }
}
