.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 25px;
}

.avatarIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d5e4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-right: 24px;
}
.name {
  font-size: 20px;
  color: #333;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 8px;
}
.linksContainer {
  display: flex;
}
.linkItem {
  margin-right: 16px;
  a {
    color: #5558fa;
  }
  img {
    margin-right: 4px;
  }
}
