.checkboxGroup {
  margin-top: 24px;
  .checkbox {
    input {
      width: 16px;
      height: 16px;
      border: 1.5px solid rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      margin-right: 10px;
    }
  }
}
.radioGroup {
  margin-top: 24px;
  .radio {
    input {
      width: 16px;
      height: 16px;
      border: 1.5px solid rgba(0, 0, 0, 0.24);
      border-radius: 100px;
      margin-right: 10px;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
