.title {
  font-weight: 600;
  font-size: 20px;
}
.modal_body {
  margin-bottom: 24px;
}
.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  img {
    cursor: pointer;
  }
}
.btn {
  text-align: right;
}
